*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
      padding: 0px;
      margin: 0px;
      border:none;
      width: 100%;
  }
  
  #header{
      width: 100%;
      padding: 0px;
      margin: 0px;
      overflow:hidden;
  }
  
  #formulario{
      margin: 0 auto;
      text-align: left;
      border-radius: 10px;
      border: 5px solid #666666;
      width: 65%;
  }

.snpunto{
    list-style:none;
}

.formulariocls{
    margin: 0 auto;
    text-align: left;
    border-radius: 10px;
    border: none;
    width: 65%;
}

.centrar{
    margin: 0 auto;
    text-align: left;
    border-radius: 10px;
    border: none;
    width: 90%;
}

#scrolltable {
    overflow:scroll;
}